#menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #000000;
    z-index: 100;
    transform: translateX(-200px);
    transition: transform 0.3s ease-in-out;
}

#menu-lateral.ativa {
    transform: translateX(0);
}

#botao-menu {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 118vw;
    height: 2.2rem;
    background-color: #020115;
}

#menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-lateral ul li {
    margin-bottom: 10px;
}

#menu-lateral ul li a {
    color: #fff;
    text-decoration: none;
}

#menu-lateral ul li a:hover {
    color: #ccc;
}

.item {
    cursor: pointer;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 10px;
    transition: background-color 0.2s;
    padding-left: 8px;
    color: white;
}

.item:hover {
    background-color: #80808054;
    width: 96%;
}